<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.scss">
    <title>Select Block</title>
</head>
<body>
    <div class="select">
        <input type="text" value="where-to">
                <img src="" alt="toggle">    
        </input>
        
        <input type="text" value="where-from"></input>       

        <input type="date" value="date-to">

        <input type="date" value="date-from">
        
    </div>
</body>
</html>